*{
    padding: 0;
	margin:0;
}
.header{
	width: 100%;
	height: 100px;
	background-color: #ffffff;
}
.header .logo img{
	width:200px;
	height: 100px;
	margin-left: 120px;
	float: left;
}
.header .menu{
	height: 100px;
	float: right;
}
.header .menu ul{
	margin-right: 120px;
}
.header .menu li{
	float: right;
	list-style-type: none;
	width: 100px;
	font-family: "Georgia";
	font-size: 15px;
	line-height: 100px;
	font-weight: bold;
	text-align: center;
}


a.one:link {
	color:#0d0d0d;
	text-decoration:none;
	}    
a.one:visited {
	color:#0d0d0d;
	text-decoration:none;
	} 
a.one:hover {
	color:#006bb7;
	text-decoration:none;
	} 
a.one:active {
	color:#006bb7;
	text-decoration:none;
	} 


a.two:link {
	color:#ffffff;
	text-decoration:none;
	}   
a.two:visited {
	color:#ffffff;
	text-decoration:none;
	} 
a.two:hover {
	color:#ffffff;
	text-decoration:none;
	} 
a.two:active {
	color:#ffffff;
	text-decoration:none;
	}

.center{
      text-align:center;
}


table {
	margin: auto;
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
}
 
caption {
    font-size: larger;
    margin: 1em auto;
}
 
th,td {
    padding: .65em;
}
 
th {
   background: #555;
   border: 1px solid #777;
   color: #fff;
}
 
td {
     border: 1px solid #777;
}

tbody tr:nth-child(odd) {
     background: #ccc;
}

.main .pic img{
	width: 100%;
	height: 600px;
	position: relative;
}

.main .content{
	background-color: transparent;
	z-index: 1;
	position: absolute;
	top: 300px;
	width: 100%;
	height: 200px;
	color: #ffffff;
}

.main h1{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 70px;
	text-align: center;
	color: #ffffff;
}

.main .bar{
	padding-top:15px;
	padding-bottom:15px;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #ffffff;

}

.main .smallbar{
	padding-top:5px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
}


.main .submit{
	padding-top:50px;
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

.button {
    background-color: #006bb7;
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.footer{
	padding-top:50px;
	width: 100%;
	height: 100px;
	background-color: #0d0d0d;
	color: #ffffff;
	text-align: center;
	line-height: 100px;
	font-family: Arial;
	font-size: 15px;
}